@media (min-width: 1850px)
  .content
    width: 1360px

  .main-pic
    padding: 32px 60px 32px 60px
    background: url('images/main_pic_1920.png') 50% 50% no-repeat
    background-size: cover
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
      background: url('images/main_pic_1920@2x.png') 50% 50% no-
      background-size: cover

  .text-box
    padding: 45px 60px 45px 60px
    &--upper
      position: relative

  .text-box--overview
    padding: 60px

  .text-box--methology
    padding-bottom: 60px

  .overview__text
    min-width: 785px
    max-width: 785px

@media (max-width: 1850px)
  .content
    width: 1220px

  .page__wrap
    background-image url(images/footer_bg.png) , url(images/svg/clouds_bg.svg) , none, linear-gradient(-180deg, #34c4f0 0, #1c90e2 100%)

  .main-pic
    padding-left: 60px
    height: 635px

  .related-head
    padding: 0 25px

  .related-list
    padding: 34px 25px 0

  .methodology-article
    padding-top: 23px
    padding-left: 141px
    &:before
      left: 20px

@media (max-width: 1370px)
  .content
    width: 980px

  .article-title
    font-size: 40px
    line-height: 56px
    font-weight: 600

  .article-text__item
    font-size: 24px
    line-height: 30px
    font-weight: 300
    margin-bottom: 42px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .ranking-info__text
    padding-right: 16px

  .main-pic
    height: 568px
    background-repeat no-repeat
    background-position right top
    padding: 32px 45px 45px 45px
    background: url('images/main_pic_1024.png') center no-repeat
    background-size: cover
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
      background: url('images/main_pic_1024@2x.png') center no-repeat
      background-size: cover

  .text-box,
  .text-box--overview,
  .text-box--methodology
    padding: 45px

  .block-title
    margin-bottom: 45px

  .overview__text
    min-width: 490px
    max-width: 490px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 32px

  .related-list .col
    width: 49%

  .text-box.last
    padding-top: 41px

  .bottom-col
    width: 48%
    padding-right: 8px

  .text-box.last
    display: block

  .full-table
    td
      &:nth-child(3)
        width: 18%

@media (min-width: 1019px) and (max-width: 1370px)
  .ranking-info__title
    position: absolute
    margin-left: 90px

@media (max-width: 1019px)
  .content
    width: auto
    max-width: 740px

  .main-pic__mask
    height: 528px

  .article-title
    font-size: 32px
    line-height: 38px
    font-weight: 600

  .article-text__item
    font-size: 22px
    line-height: 30px
    font-weight: 300
    margin-bottom: 23px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .under-title__wrap
    margin-bottom: 16px

  .region-list__item
    margin-right: 12px
    &:last-child
      margin-right: 0

  .main-pic
    height: 540px
    padding: 32px 25px
    background-image url("images/main_pic_768.png")
    background-size: cover
    background-position center
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
      background-image url("images/main_pic_768@2x.png")
      background-size: cover

  .upper-text__container
    &:before
      top: 10px
      height: 403px
      background: url('images/left-side-780.svg') center no-repeat

  .upper-text
    font-size: 17px

  .top-menu__link
    margin: 0 10px

  .text-box
    padding: 45px 25px 44px 25px
    &--upper
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      padding-left: 25px

      .under-title
        width: 445px

      .main-text
        width: 100%

  .text-box--region
    padding-top: 30px

  .overview__quote--item-2
    margin-right: 0

  .block-title
    margin-bottom: 32px

  .block-title--overview
    margin-bottom: 45px

  .block-title--methodology
    margin-bottom: 30px

  .overview__text
    min-width: 326px
    max-width: 326px

  .region-info__text
    padding: 0 95px

  .block-info
    padding: 24px 24px 24px 72px
    &:before
      left: 24px

  .region-info__table
    thead
      th
        height: 48px
        padding: 0 10px
        font-size: 10px
        line-height: 16px
        color: $color_white
        text-align: left
        text-transform: uppercase
        text-align: center
        border-right: 1px solid rgba(255, 255, 255, 0.3)
        box-sizing: border-box
        text-align: center
    tbody

      td
        position: relative
        height: 68px
        padding: 16px 10px
        border-bottom: 1px solid #E6EEF2
        border-right: 1px solid #F1F1F1
        font-size: 16px
        line-height: 21px
        &:first-child
          text-align: center
          font-size: 14px
          line-height: 16px
          font-weight: 600
          border-left: 1px solid #F1F1F1
          color: #879DA8

        &:nth-child(2)
          width: 20%

        &:nth-child(7)
          width: 12%
          text-align: center

  .domestic--exp
    font-size: 18px

  .region-info__table-wrap--international
    .international
      font-size: 16px

    .international--exp
      font-size: 18px

  .methodology-brands__img--bureau
    width: 70px
    height: 61px

  .methodology-brands__img--census
    width: 81px
    height: 31px

  .methodology-brands__img--zagat
    width: 116px
    height: 16px

  .methodology-brands__img--jdpower
    width: 66px
    height: 66px

  .methodology-brands__img--the-port
    width: 64px
    height: 64px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 21px

  .related-list .col
    width: 46%

  .methodology-article
    padding-left: 97px
    padding-right: 0
    padding-top: 23px
    &:before
      left: 8px
      top: 27px

  .methodology-title
    text-align: center

  .bottom-col
    width: 49%
    padding-right: 0px

  .text-box.last
    padding-top: 25px

  .full-table
    thead
      th
        &:nth-child(7),
        &:nth-child(8)
          display: none

    tbody
      td
        &:nth-child(2)
          width: 25%

        &:nth-child(3)
          width: 23%

        &:nth-child(7),
        &:nth-child(8)
          display: none

@media (min-width: 759px)
  .mobile-only-close
    display: none

  .mobile-only-show
    display: none

@media (max-width: 759px)
  .content
    margin-left: 10px
    margin-right: 10px

  .top-logo
    display: none

  .mob-logo
    display: block
    width: 35px
    height: 38px

  .breadcrumbs__wrap
    white-space: nowrap

    max-width: 100%
    box-sizing border-box

  .under-title__wrap
    flex-direction: column
    align-items: center

  .under-title__img
    margin-bottom: 30px

  .breadcrumbs__item:last-child
    overflow: hidden
    text-overflow: ellipsis

  .article-title
    font-size: 25px
    line-height: 34px
    font-weight: 600

  .article-text__item
    min-width: 265px
    width: auto
    font-size: 17px
    line-height: 27px
    font-weight: 300
    margin-bottom: 22px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .text-box--days
    .primary-text
      margin-bottom: 0

  .main-pic
    height: 540px
    padding: 16px 12px 24px 12px
    background-image url("images/main_pic_768.png")
    background-size: cover
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
      background-image url("images/main_pic_768@2x.png")
      background-size: cover

  .main-pic__mask
    height: 530px
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 3%,rgba(0,0,0,1) 100%);

  .text-box
    padding: 32px 12px 32px 12px
    &--upper
      justify-content: center

      .under-title
        width: 100%

      .under-title
        font-size: 18px
        line-height: 28px
        font-weight: 200

      .main-text
        font-size: 16px
        line-height: 26px
        font-weight: 300

  .text-box--region
    padding-bottom: 12px

  .overview__item
    flex-direction: column

  .overview__text
    min-width: 100%
    max-width: 100%
    order: 2

  .overview__quote
    text-align: center
    margin-bottom: 12px

  .overview__items-divider
    margin: 30px auto

  .overview__quote--item-1
    width: 276px

  .overview__quote--item-2
    width: 272px
    margin-right: auto
    br
      display: block

  .overview__quote--item-3
    width: 276px
    br
      display: none

  .marked--item-1
    &:before
      text-align: left
      width: 170px
      background: url('images/svg/marked-1-mob.svg') left no-repeat

  .marked--item-2
    &:before
      content: 'spend proportionally less'
      line-height: 22px
      text-align: right
      position: absolute
      right: -14px
      top: 6px
      width: 278px
      height: 24px
      padding-right: 4px
      background: url('images/svg/marked-2.svg') center no-repeat

  .marked--item-3
    &:before
      content: 'than 25.0%'
      line-height: 22px
      position: absolute
      right: -4px
      top: 4px
      width: 115px
      height: 24px
      padding-right: 4px
      background: url('images/svg/marked-3-mob.svg') right no-repeat

  .marked--item-4
    display: inline-block
    &:before
      content: '16.2% of'
      line-height: 22px
      position: absolute
      text-align: left
      left: -4px
      top: 4px
      width: 92px
      height: 24px
      padding-left: 4px
      background: url('images/svg/marked-4-mob.svg') center no-repeat

  .mob-transparent
    color: transparent

  .block-info
    padding: 24px
    &:before
      left: 50%
      transform: translateX(-50%)
      top: -12px

  .region-info__text
    padding: 0 10px

  .block-subtitle
    font-size: 30px
    line-height: 36px

  .region-list
    flex-wrap: wrap

  .region-list
    max-width: 276px
    margin: 0 auto

  .region-list__item
    margin-right: 20px
    margin-bottom: 20px
    &:nth-child(2n)
      margin-right: 0

  .region-list__link
    width: 128px
    height: 156px

  .primary-title
    font-size: 20px
    padding-bottom: 22px
    line-height: 34px

  .upper-text__container
    padding-left: 0
    &:before
      display: none

  .upper-text
    font-size: 14px
    line-height: 28px
    margin-bottom: 26px

  .ranking-info__table
    td
      padding: 12px 8px
      font-size: 10px

  .methodology-content
    flex-direction: column
    align-items: center

  .methodology__img
    margin: 0
    margin-bottom: 24px

  .methodology-brands
    margin-left: 0
    flex-wrap: wrap
    justify-content: space-around

  .methodology-brands__img
    margin: 0 10px

  .methodology-brands__img--bureau
    width: 70px
    height: 61px
    margin-bottom: 26px

  .methodology-brands__img--census
    width: 103x
    height: 40px
    margin-bottom: 26px

  .methodology-brands__img--zagat
    width: 116px
    height: 16px
    margin-bottom: 26px

  .methodology-brands__img--jdpower
    width: 66px
    height: 66px
    margin-bottom: 26px

  .methodology-brands__img--the-port
    width: 64px
    height: 64px

  .cols__wrap
    flex-wrap wrap

  .bottom-col
    width: 100%

  .block-title
    font-size 26px
    line-height: 34px

  .main-article--table
    .block-title
      font-size 26px
      line-height: 34px

  .region-info__table
    width: 600px

  .region-info__table-bg--orange,
  .region-info__table-bg--pink
    width: 600px

  .region-info__table
    thead
      th
        height: 48px
        padding: 0 15px
        font-size: 8px
        line-height: 16px

    tbody
      td
        position: relative
        height: 68px
        padding: 10px 15px
        font-size: 14px
        line-height: 21px
        &:first-child
          text-align: center
          font-size: 10px
          line-height: 16px
          font-weight: 600
          border-left: 1px solid #F1F1F1
          color: #879DA8

        &:nth-child(2)
          width: 18%
          font-size: 14px
          line-height: 16px

  .domestic--exp
    font-size: 15px

  .international
    font-size: 10px

  .region-info__table-wrap--international
    .international
      font-size: 15px

  .related-list
    padding-top: 19px
    padding-left: 17px
    flex-direction column

  .related-item__link
    line-height 27px

  .related-list .col
    width: 100%

  .related-item
    padding-bottom: 22px

  .related
    margin-top: 17px

  .show-table
    text-align center
    font-size: 12px
    color: $main_color
    letter-spacing: 0
    line-height: 22px
    margin: 0 auto
    display: block
    span
      border-bottom: 1px dotted $main_color
      margin-left: 8px
    &:hover
      span
        border-bottom: none

  .mobile-table
    width: 100%
    margin-bottom: 16px

  .methodology-article
    padding-top: 110px
    padding-left: 0

  .methodology-article:before
    left: 50%
    top: 18px
    margin-left: -31px

  .mobile-only-show
    display: block

  .mobile-only-close
    font-style: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: white
    text-decoration: none
    height: 41px
    text-transform: uppercase
    border-radius: 3px
    padding: 0 20px
    overflow: hidden
    font-size: 11px
    line-height: 41px
    font-weight bold
    position: fixed
    background-color $main_color
    top: 10px
    right: 25px
    .icon
      margin-right: 8px

  .colorful
    display block
    .breadcrumbs__item
      display inline-block

  .only_mob-crop
    width: 100px
    overflow: hidden
    white-space: nowrap
    display: inherit
    text-overflow: ellipsis
    vertical-align: top

  .main-article--table
    .breadcrumbs__item
      &:nth-child(3)
        overflow: hidden
        min-width: 90px

  .mobile-table
    width: 100%
    margin-bottom: 16px

  .mobile-only-close
    display: none
    font-style: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: white
    text-decoration: none
    height: 41px
    text-transform: uppercase
    border-radius: 3px
    padding: 0 20px
    overflow: hidden
    font-size: 11px
    line-height: 41px
    font-weight bold
    position: fixed
    background-color: #FF5795
    top: 10px
    right: 25px
    .icon
      margin-right: 8px

  .region-info
    .region-info__table-wrap
      display: none

    .table-switcher
      display: none

    .mobile-only-show
      display: block

  .overflow-table.show
    padding-top: 20px
    margin-right: 15px
    margin-left: 15px
    margin-top: 45px
    .region-info__table-wrap
      display: block
      width: 100%
      overflow scroll
    .table-switcher
      display: flex
    .mobile-only-show
      display: none
    .mobile-only-close
      display: block
