@import "_variable.styl"
@import "_mixins.styl"

body
  font-family: Whitney SSm A, sans-serif;
  $ultraThin()

ul,li
  list-style: none
  margin: 0
  padding: 0

.main-article
  &--table
    margin-bottom: 290px

.content
  width: 1220px
  margin: 0 auto
  position relative

.main-text
  font-size: 14px
  color: #1c3144
  letter-spacing: -0.1px
  line-height: 26px
  font-weight 400

  &.ind-text
    font-weight 300
  a
    color: $main_color
    border-bottom  1px solid rgba(63, 136, 197, 0.3)
    &:hover
      border-bottom: none
b
  font-weight 600
.main-article
  padding-top: 32px

.page__wrap
  background-image: url(images/footer_bg.png), url(images/svg/clouds_bg.svg), linear-gradient(-180deg, #34C4F0 0%, #1C90E2 100%)
  background-position 50% 100%, 0 250px, 600px 50%
  background-repeat no-repeat, repeat-x, repeat-x
  background-size: auto, auto, auto

.main-pic
  position: relative
  background-position: center
  background-size: cover
  height: 568px
  padding: 34px 44px 47px 44px
  display: flex
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box
  border-radius: 5px 5px 0 0
  align-items: flex-start
  position: relative
  background-image: url('images/main_pic.png')
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
    background-image: url('images/main_pic@2x.png')

.main-pic__mask
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: 568px
  opacity: 0.63
  background-image: linear-gradient(-180deg, rgba(0,0,0,0) 3%, rgba(0,0,0,0.7) 100%)
  z-index: 2

.article-text
  margin-top: auto
  z-index: 5

.article-title
  color: $color_white
  font-size: 50px
  line-height: 70px
  font-weight: 600
  margin-bottom: 12px

.article-text__item
  color: $color_white
  font-size: 20px
  line-height: 28px
  font-weight: 200
  margin-bottom: 36px

.article-author
  position: relative
  color: $color_white
  font-size: 12px
  line-height: 14px
  font-weight: 300
  padding-left: 32px
  &:before
    content: ''
    position: absolute
    left: 0
    top: -2px
    width: 20px
    height: 20px
    background-image: url(images/icons/author.svg)
    background-repeat: no-repeat

.breadcrumbs
  &__wrap
    display: flex
    background-color: rgba(255, 255, 255, .9)
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10)
    border-radius: 2px
    padding: 0 14px
    z-index: 3
  &__item
    font-size: 12px
    letter-spacing: 0
    line-height: 42px
    color: #667780
    &:first-child
      &:before
        display: none
    &:before
      content: ''
      display: inline-block
      color: #fff
      width: 6px
      height: 13px
      background-image: url(images/svg/arrow.svg)
      background-position: 0px 5px
      background-size: 100% auto
      margin: 0 6px 0 8px
      background-repeat no-repeat

  &__link
    color: $main_color
    letter-spacing: 0
    line-height: 42px
    text-decoration underline
    text-decoration-color: #A3DCF0
    $ultraThin()
    &:hover
      text-decoration none

.text-box
  padding: 45px 45px 45px 45px
  background-color: $color_white
  margin-bottom: 10px

.text-box--overview
  padding-bottom: 60px

.under-title__wrap
  display: flex
  flex-direction: row
  align-items: flex-start
  margin-bottom: 38px

.under-title__img
  margin-right: 31px

.under-title
  color: #4a4a4a
  font-size: 18px
  line-height: 32px
  font-weight: 200

.upper-text
  color: #475359
  font-size: 14px
  line-height: 32px
  font-weight: 200
  margin-bottom: 36px
  &:last-child
    margin-bottom: 0

.block-title
  font-size: 32px
  line-height: 42px
  margin-bottom: 34px
  color: #103144
  text-align: center
  font-weight: 600
  text-transform: uppercase

.block-subtitle
  font-size: 32px
  line-height: 42px
  font-weight: 600
  color: $text_color
  margin-bottom: 30px
  text-align: center

.block-subtitle--overview
  margin-bottom: 16px

.block-info
  position: relative
  padding: 23px 38px 25px 94px
  font-size: 16px
  line-height: 26px
  font-style: italic
  color: $text_color
  border: 1px solid rgba(255,68,137,0.30)
  border-radius: 5px
  margin-bottom: 32px
  &:before
    content: ''
    position: absolute
    width: 24px
    height: 24px
    top: 50%
    transform: translateY(-50%)
    left: 38px
    background: url(images/icons/info-icon.svg) center no-repeat
    background-size: cover

.region
  margin-bottom: 60px
  &:last-child
    margin-bottom: 0

.region-features
  margin-bottom: 45px

.region-features__item
  font-size: 14px
  line-height: 26px
  color: #173144
  position: relative
  text-align: left
  padding-left: 24px
  margin-bottom: 32px
  &:before
    content: ''
    position: absolute
    top: 7px
    left: 0
    width: 8px
    height: 8px
    background: url('images/icons/oval-yellow.svg')

  &:last-child
    margin-bottom: 0

.primary-text
  margin-bottom: 32px
  font-size: 14px
  line-height: 26px
  color: #173144
  text-align: center

.region-list
  display: flex
  flex-direction: row
  justify-content: center

.region-list__item
  margin-right: 45px
  &:last-child
    margin-right: none

.region-list__link
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  width: 165px
  height: 165px
  padding: 16px
  border: 1px solid rgba(255,68,137,0.30)
  border-radius: 5px
  box-sizing: border-box
  text-align: center
  transition: .25s ease-in
  box-sizing: border-box
  &:hover
    background: #fff3f8

.region-list__link-img
  margin-top: 24px

.region-list__link-text
  font-size: 14px
  line-height: 15px
  color: #1a8aca
  text-transform: uppercase
  font-weight: 600
  margin-top: auto
  border-bottom: 1px dotted #99cde9

.region-info
  display: flex
  flex-direction: column
  align-items: center
  border: 1px solid rgba(155,155,155,0.20)
  border-radius: 5px
  padding-top: 24px

.region-info__text
  font-size: 16px
  line-height: 26px
  font-weight: 300
  font-style: italic
  margin-bottom: 24px
  text-align: center
  padding: 0 105px

.overview__item
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.overview__quote
  font-size: 20px
  line-height: 32px
  color: #0A0C0D
  font-weight: 600
  font-style: italic
  margin-left: auto
  margin-right: auto

.overview__quote--item-1
  width: 292px

.overview__quote--item-2
  width: 335px
  br
    display: none

.overview__quote--item-3
  width: 300px

.overview__text
  min-width: 730px
  max-width: 730px
  font-size: 14px
  line-height: 24px
  color: #0A0C0D
  font-weight: 300

.overview__items-divider
  width: 47px
  margin: 45px auto

.divider-circle
  display: inline-block
  margin-right: 7px
  width: 8px
  height: 8px
  border-radius: 50%
  background: #ff4489
  &:last-child
    margin-right: 0

.cost
  font-size: 18px
  line-height: 24px
  font-weight: 600

.marked
  position: relative

.marked--item-1
  &:before
    content: '561.6% costlier'
    line-height: 24px
    position: absolute
    left: -4px
    top: 1px
    width: 182px
    height: 24px
    padding-left: 4px
    background: url('images/svg/marked-1.svg') center no-repeat

.marked--item-2
  display: inline-block
  &:before
    content: 'spend proportionally less'
    line-height: 24px
    text-align: right
    position: absolute
    right: -4px
    top: 4px
    width: 278px
    height: 24px
    padding-right: 4px
    background: url('images/svg/marked-2.svg') center no-repeat

.marked--item-3
  &:before
    content: 'than 25.0%'
    line-height: 24px
    text-align: right
    position: absolute
    right: -4px
    top: 1px
    width: 115px
    height: 24px
    padding-right: 4px
    background: url('images/svg/marked-3.svg') right no-repeat

.marked--item-4
  &:before
    content: '16.2%'
    line-height: 24px
    position: absolute
    left: -4px
    top: 0
    width: 92px
    height: 24px
    padding-left: 4px
    background: url('images/svg/marked-4.svg') center no-repeat

.before-marked
  color: transparent

.rate-block
  background: linear-gradient(147deg, #40C8F7 0%, #46ADF0 100%)
  border-radius: 3px
  font-size: 11px
  color: #fff
  letter-spacing: 0
  font-weight: 600
  line-height: 26px
  height: 26px
  padding: 0 5px 0 22px
  display: inline-block
  position: relative
  vertical-align: text-bottom
  width: 58px
  overflow hidden
  box-sizing border-box
  &:before
    content ''
    background-size: 100% auto
    display: block
    background-image: url(images/icons/icon-star-white.svg)
    position: absolute
    background-repeat: no-repeat
    width: 13px
    height: 18px
    left: 6px
    top: 5px

.reg
  font-weight 600
  font-size: 8px
  color: #95A69D
  letter-spacing: 0
  line-height: 10px
  position: relative
  top: 0
  &--tbl
    color: #ffffff

.text-box--methodology
  .primary-text
    font-size: 14px
    line-height: 24px

.block-title--methodology
  text-transform: none

.methodology-content
  display: flex
  flex-direction: row
  align-items: flex-start

.primary-text--methodology
  text-align: left

.methodology__img
  margin: 10px 54px 0 10px

.methodology-brands
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  margin-left: 115px

.related
  background: #FFFFFF
  border-radius: 5px
  margin-top: 30px
  margin-bottom: 200px

.related-head
  min-height 54px
  display flex
  justify-content space-between
  align-items center
  background: #F0FAFF
  box-shadow: 0 1px 0 0 #DCEFF5
  border-radius: 5px 5px 0 0
  padding: 0 31px

.related-title
  font-size: 14px
  color: #0084C3
  letter-spacing: 0
  text-transform uppercase
  font-weight 600
  letter-spacing -.1px

.related-list
  padding: 34px 31px 0px 31px
  display flex
  justify-content space-between
  .col
    width: 43%
    padding-right: 5%

.related-item
  padding-bottom: 30px

.related-item__title
  font-size: 14px
  color: #475359
  letter-spacing: -0.2px
  line-height: 20px
  font-weight 600
  padding-bottom: 12px

.related-item__text
  padding-bottom: 13px
  line-height 24px
  font-size: 14px
  color: #475359
  letter-spacing: -0.1px
  font-weight 300

.related-item__link
  letter-spacing: -0.2px
  font-weight 300
  font-size: 14px
  line-height 24px
  color: #0DA4F0
  border-bottom: 1px solid rgba(13, 164, 240, 0.30)
  padding-bottom: 2px

  &:after
    width: 100%
    display: block
    content ''
    margin-bottom: 3px

  &:hover
    border-bottom-color: rgba(13, 164, 239, 0.0)

.footer-menu__link, .button-main, .button-register, .rate-block
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smoothing: grayscale

.show_more
  position: relative
  width: 440px
  box-sizing: border-box
  font-size: 12px
  line-height: 24px
  font-weight: 600
  color: $color_white
  letter-spacing: 0
  border-radius: 5px
  line-height 56px
  text-transform uppercase
  display inline-block
  padding: 0 24px
  cursor: pointer
  margin-top: 32px
  background-color: $color_white
  background-image: linear-gradient(0deg, #4C4AD4 2%, #7A79D4 100%)
  border: 1px solid rgba(255,255,255,1)
  transition: all .5s
  &:after
    content: ''
    position: absolute
    right: 36px
    top: 18px
    width: 20px
    height: 20px
    background-image: url(images/svg/button_icon.svg)
    background-repeat: no-repeat
  &:hover
    color: #5654D7
    background-color: $color_white
    background-image: none
    border: 1px solid #5654D7
    transition: all .5s ease
    &:after
      background-image: url(images/svg/button_icon-hover.svg)

.show_more--comparison
  margin-top: 120px

.overflow-table
  padding-top: 22px
  border-radius: 5px
  .primary-text
    margin-bottom: 32px

  .breadcrumbs
    &__wrap
      display: flex
      background-color: $color_white
      border-radius: 2px
      padding: 0
      margin-bottom: 44px
      box-shadow: none
    &__item
      font-size: 12px
      letter-spacing: 0
      line-height: 42px
      color: #475359
      &:first-child
        &:before
          display: none
      &:before
        content: ''
        display: inline-block
        color: #fff
        width: 6px
        height: 13px
        background-image: url(images/svg/arrow.svg)
        background-position: 0px 5px
        background-size: 100% auto
        margin: 0 6px 0 8px
        background-repeat no-repeat

    &__link
      color: #0683BD
      letter-spacing: 0
      line-height: 42px
      text-decoration: none
      $ultraThin()
      &:hover
        text-decoration: underline

  .block-title
    font-size: 30px
    line-height: 40px
    font-weight: 600

  .mobile-only-close
    display: none

  .mobile-only-show
    display: none
